body {
  margin: 0;
  text-align: center;
  background-image: url('https://i.imgur.com/urAOSQn.jpg');
  background-size: cover;
}

nav a {
  padding: 10px;
  align-items: center;
  height: 3em;
  color: antiquewhite;
}

header {
  background-color: #531c06;
  display: flex;
  height: 10vh;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 60%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 100px;
  color: rgb(135, 50, 11);
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewAll {
  margin-top: 20px;
  font-size: xx-large;
}

.container .name {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.all {
  display: flex;
  width: 18em;
  height: 15em;
  margin: 1em;
  justify-content: space-around;
  color: #531c06;
  cursor: pointer;
}

img {
  margin: auto;
  text-align: center;
  width: 100%;
}

.details {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgb(135, 50, 11);
  color: aliceblue;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 15px;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
