html {
  background: url(https://i.imgur.com/urAOSQn.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
  color: #531c06;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
}

nav a {
  padding: 10px;
  align-items: center;
  height: 3em;
  color: antiquewhite;
}

header {
  background-color: #531c06;
  display: flex;
  height: 8vh;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
  color: white;
}

.bucket {
  width: 80%;
  font-size: x-large;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature {
  text-align: center;
  font-size: x-large;
}

h3 {
  font-size: large;
  font-weight: bolder;
}

.about {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  font-size: x-large;
  font-weight: bold;
  color: #531c06;
  background-color: rgba(250, 235, 215, 0.6);
  opacity: 0.8;
}

.flex-col {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.6);
}

.coverImage {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewAll {
  margin-top: 20px;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

.container {
  margin-top: 30px;
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 4em;
  justify-content: center;
}

.container img {
  padding: auto;
  height: 15rem;
  width: 20rem;
}

.name {
  text-align: center;
}

img {
  text-align: center;
  width: 65%;
  border: solid 2px #531c06;
  border-radius: 10px;
}

.destination-content {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  color: #531c06;
}

.imageContainer {
  margin-top: 20px;
  width: 70%;
  height: 100%;
  background-color: rgba(250, 235, 215, 0.6);
}

.info {
  margin: auto;
  text-align: left;
  height: 20%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  line-height: 0.25;
}

.detailImage {
  text-align: center;
}

.all {
  margin: auto;
  background-color: rgba(250, 235, 215, 0.6);
}

.reviewDisplay {
  width: 45rem;
  margin-top: 20px;
  display: flex;
  line-height: 0.8;
  flex-direction: column;
  justify-content: center;
  font-size: medium;
  font-weight: bold;
  text-align: left;
  color: white;
  background-color: rgba(135, 50, 11, 0.85);
}

.reviewForm {
  margin-top: 10em;
  background-color: rgb(135, 50, 11);
  opacity: 0.9;
  color: antiquewhite;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 15px;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.update {
  background-color: rgb(135, 50, 11);
  opacity: 0.9;
  color: antiquewhite;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 15px;
}

button {
  margin: auto;
  margin-top: 30px;
  color: #531c06;
  width: 10rem;
  text-align: center;
  align-items: center;
  font-family: 'Lora', serif;
  font-size: 20px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  box-shadow: 5px 5px 0 #666;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0px 0px 0 #666;
  box-shadow: 0px 0px 0 #666;
  top: 5px;
  left: 5px;
}
