body {
  margin: 0;
  text-align: center;
  background-image: url('https://i.imgur.com/urAOSQn.jpg');
  background-size: cover;
}

nav a {
  padding: 10px;
  align-items: center;
  height: 3em;
  color: antiquewhite;
}

header {
  background-color: #531c06;
  display: flex;
  height: 10vh;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all {
  display: flex;
  width: 18em;
  height: 15em;
  margin: 1em;
  justify-content: space-around;
  color: rgb(201, 26, 84);
  cursor: pointer;
}

img {
  margin: auto;
  text-align: center;
  width: 100%;
}

form {
  background-color: rgb(135, 50, 11);
  color: aliceblue;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 15px;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
